https://pythonhosted.org/pyDOE/factorial.html
    
## Factorial Designs

In this section, the following kinds of factorial designs will be described:

- General Full-Factorial

- 2-Level Full-Factorial

- 2-Level Fractional-Factorial

- Plackett-Burman

>Hint: All available designs can be accessed after a simple import statement:

In [1]:
# pip install --upgrade pyDOE2

In [2]:
# from pyDOE import *
from pyDOE2 import *
import numpy as np
import pandas as pd

## Create DOE for 2^3 (no confounding)

http://reliawiki.org/index.php/Two_Level_Factorial_Experiments

In [3]:
doe_m = ff2n(3)
doe_m.shape

(8, 3)

In [4]:
doe_df = pd.DataFrame(doe_m)
doe_df.shape

(8, 3)

In [5]:
doe_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8 non-null      float64
 1   1       8 non-null      float64
 2   2       8 non-null      float64
dtypes: float64(3)
memory usage: 320.0 bytes

In [6]:
doe_df.columns = ['A', 'B', 'C']
doe_df.head()

     A    B    C
0 -1.0 -1.0 -1.0
1  1.0 -1.0 -1.0
2 -1.0  1.0 -1.0
3  1.0  1.0 -1.0
4 -1.0 -1.0  1.0

In [7]:
doe_df.corr()

     A    B    C
A  1.0  0.0  0.0
B  0.0  1.0  0.0
C  0.0  0.0  1.0

```
Parameter   -1    1
--------- ---- ----
mp        0.10 0.90
cp        0.15 0.90
pp        0.10 0.90
```

In [12]:
new_names = ['mp', 'cp', 'pp']

dict_mp = {-1: 0.10, 1: 0.90}
dict_cp = {-1: 0.10, 1: 0.90}
dict_pp = {-1: 0.10, 1: 0.90}
        
use_doe = doe_df.copy()
use_doe.columns = new_names

use_doe

    mp   cp   pp
0 -1.0 -1.0 -1.0
1  1.0 -1.0 -1.0
2 -1.0  1.0 -1.0
3  1.0  1.0 -1.0
4 -1.0 -1.0  1.0
5  1.0 -1.0  1.0
6 -1.0  1.0  1.0
7  1.0  1.0  1.0

In [13]:
use_doe['mp'] = use_doe['mp'].map(dict_mp)
use_doe['cp'] = use_doe['cp'].map(dict_cp)
use_doe['pp'] = use_doe['pp'].map(dict_pp)

In [14]:
use_doe

    mp   cp   pp
0  0.1  0.1  0.1
1  0.9  0.1  0.1
2  0.1  0.9  0.1
3  0.9  0.9  0.1
4  0.1  0.1  0.9
5  0.9  0.1  0.9
6  0.1  0.9  0.9
7  0.9  0.9  0.9

In [15]:
use_doe.to_csv('hpt_doe5.csv', index=False)